@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --var-color-one: #f5efe1;
  --var-color-two: #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  color: var(--var-color-one);
}

html,
body {
  background-color: var(--var-color-two);
  height: 2000px;
}

h1 {
  position: absolute;
  top: 40vh;
  width: 100%;
  text-align: center;
  font-size: 6rem;
  letter-spacing: 2px;
}

ul {
  position: absolute;
  right: 5%;
  top: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

ul li {
  height: 4rem;
  display: flex;
  overflow: hidden;
  /* background-color: var(--var-color-two); */
  margin-bottom: 0.5rem;
  justify-content: flex-end;
}

ul li span {
  display: block;
  line-height: 4rem;
  font-size: 4rem;
  text-transform: uppercase;
  transform: translateY(200%);
  margin: 0.05rem;
}

ul li span.active {
  transform: translateY(0%);
  transition: 1s ease-out;
}

ul li:hover {
  opacity: 0.5;
  cursor: pointer;
}

.gap {
  width: 1rem;
}
